extends layout

block content
  div(class='row')
    span
      p Bulletproof Escape Fridge Leaderboard

  div(class='row')
    table(class='table table-striped')
      thead(class='thead-dark')
        th(scope='col') Rank
        th(scope='col') Name
        th(scope='col') Company
        th(scope='col') Challenge
        th(scope='col') Time
      tbody
        each entry in leaderboard
          tr(class=entry.class)
            th(scope='row')= entry.rank
            td= entry.name
            td= entry.company
            td= entry.challengeId
            td= entry.time

block scripts
  script.
    setTimeout(() => window.location.reload(true), 30000);
